<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Задача создана</title>
</head>
<body>
<h1>Вы создали новую задачу:</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Discription</th>
        <th>Status</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${task.id}">ID </td>
        <td th:text="${task.name}">Name</td>
        <td th:text="${task.description}">Discription</td>
        <td th:text="${task.status}">Status</td>
        <td th:text="${task.date}">Date</td>
        <td><a href="/create">Добавить новую задачу.</a></td>

    </tr>
    </tbody>
</table>
</body>
</html>